{{> head }}
{{> navbar}}
<div class="row">
  <div class="col-8">
    <h1>Futura plantilla</h1>
    <p>La idea es desplegar mi pagina portafolio, usando heroku</p>
  </div>
  <div class="col-4">
    <img src="/assets/img/avion.png" alt="" class="img-thumbnail">
  </div>
</div>
{{> footer}}