{{> head }}
{{> navbar}}
<div class="jumbotron">
  <h1 class="display-4">Hello, soy {{ capitalizar nombre}}</h1>
  <p class="lead">El nombre que aparece encima, fue tratado con un helper de hbs</p>
  <hr class="my-4">
  <p>Pienso, que es interesante conocer como funcionan las paginas de este estilo y compararlas con una SPA en cuanto a rendimiento y comodidad, al fin de cuentas no importa que tecnologias estes usando, solamente importa hacer un producto que funcione y que sea de calidad en todos los sentidos posibles</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
{{> footer}}